form(novalidate name='queryForm')
  label # Per Page
  input(type='number' ng-model='query.limit')
button(ng-click='noteIndex(query)') Submit

table#notes
  tr
    td Date Created
    td Title
    td Body
    td Tags
  tr(ng-repeat='row in notes')
    td {{row.created_on | date}}
    td: a(href='' ng-click='displayNote(row.noteid)') {{row.notetitle}}
    td {{row.notebody}}
    td: .tag(ng-repeat='tag in row.notetags'): a(href='', ng-click='filterTag(tag)') {{tag}}